/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 10:04:25 AM
    Author     : PhamNgocHieu
*/

.header
{
  background-image: url(../image/backround_header.jpg);
  background-repeat: no-repeat;
}
.header_logo
{
    padding: 0px;
}
.header_logo>img
{
    width: 100%;
}
.header_status_menutop
{
	font-size: 0px;
  padding-right: 0px;
	height: 28px;
	-webkit-border-radius: 4px/5px;
	-moz-border-radius: 4px/5px;
	border-radius:0px;
	background-color: #595959;
	-webkit-box-shadow: 0 0 5px rgba(27,0,0,.5), 0 0 6px rgba(0,0,0,.11);
	-moz-box-shadow: 0 0 5px rgba(27,0,0,.5), 0 0 6px rgba(0,0,0,.11);
	box-shadow: 0 0 5px rgba(27,0,0,.5), 0 0 6px rgba(0,0,0,.11);
	background-image: -webkit-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: -moz-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: -o-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: -ms-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: linear-gradient(to top, #37353a 1%, #59575a);
	margin:0px;
	
}
.header_status_menutop>li
{
	
	border-right-style: solid;	
	border-right-width: 1px;
	border-right-color:#59585a;
	border-left-style: solid;
	border-left-width:1px;
	border-left-color: #3b393e;
	width: 33.33%;
	padding-top: 4px;
	text-align: center;
	display: inline-block;
}
.header_status_menutop>li>a
{
	display: inline;
	width: 100%;
	padding: 0px;
	font-family: "Myriad Pro";
	font-size: 10px;
	color: #fff;
}
.header_status_menutop>li>a:hover
{
	color: red;
	background: none;
}
.header_status_menusearch
{
	padding: 0px;
	padding-top: 3px;
	margin: 0px;
	height: 29px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #94d201;
	border: solid 1px #5bb900;
	background-image: -webkit-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: -moz-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: -o-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: -ms-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: linear-gradient(to top, #5cba01 1%, #99d803);
}
.header_status_menusearch>a
{
	float: right;
}
.header_status_menusearch>input
{
        width: 81.98%;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
}
.header_status_menucontact
{
	width: 100%;
	height: 31px;
  border-style: solid;
	border-color: #5ab900;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	background-image: url(../image/giohang.jpg);
	background-position: 10px;
	background-repeat: no-repeat;	
	padding-left: 50px;
}
.header_status_menucontact>span
{
	font-family: Eurostile;
	font-size: 8px;
	text-transform: uppercase;
	color: #5a5a5a;
	text-shadow: 1px 1px 1px #fff;
}
.carousel-control
{
    position: static;
}
.carousel-indicators
{
    position: static;
    text-align: center;
    margin: 0px;
    padding: 0px;
    left:auto;
    width:33.33%;
}
.carousel_bootom_next
{  
  text-align: right;
}
.container_row3
{
    background-image: url('../image/background_banner.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.carousel_bootom
{ 
    background-image: url('../image/bg_pre_next.jpg');
    background-repeat: repeat-x;
    height: 40px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    padding-top: 5px;
    padding-left: 3%;
    padding-right: 3%;
}
.carousel_bootom>ol
{
    margin-top: 6px;
}
.carousel_header
{
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    background-color: #fff;
    padding-top: 10px;
}
.carousel_header>div>div>p
{
    font-family: Arial;
    font-size: 13px;
    color: #3c3c3c;
}
.carousel_header>div>div>h1
{
    font-family: Arial;
    font-size: 22px;
    color: #3c3c3c;
    font-weight: bold;
}
.carousel_header>div>div>a
{
    color: #82c754;
    text-decoration-line:underline;
}
.navbar-nav {
    float:none;
    margin: 0;
}
.container_row3_banerright
{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.container_row3_banerright_content
{
    height: 230px;
    background-image: url('../image/anhright.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container_row3_banerright_content_footer
{
    background-color: #fff;
    opacity: 0.8;
    width:100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.container_row3_banerright_content_footer>h1
{
    font-family: Myriad Pro;
    color: #52b836;
    font-size: 13.75px;
    font-weight: bold;
}
.container_row3_banerright_content_footer>p
{
    color: #3c3c3c;
    font-family: Arial;
    font-size: 11.5px;
}
.container_row3_banerright_content_footer>a
{
    display: inline-block;   
}
.container_row4
{
    background-image: url('../image/background_banner.jpg');
    background-size: cover;
    padding: 10px;
}
.container_row4_left 
{
    background-color: #fff;
    border-radius: 5px;
    padding-top:10px;
    padding-bottom:10px;
}
.container_row4_right
{
    background-color: #fff;
    border-radius: 5px;
    background-image: url('../image/webshop.jpg');
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    margin-top: 10px;
    padding-left: 42px;
    padding-bottom:10px;
}
.container_row5
{
    background-image: url('../image/background_banner.jpg');
    background-size: cover;
    padding: 10px;
}
.container_row5>div
{
    background-color: #fff;
    border-radius: 5px;
    padding-bottom:10px;
    
}
.container_row7
{
   background-image: url('../image/background_banner.jpg');
   background-size: cover;
   padding: 10px; 
}
.container_row7>div
{
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}


