/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 10:04:25 AM
    Author     : PhamNgocHieu
*/

.header
{
  background-image: url(../image/backround_header.jpg);
  background-repeat: no-repeat;
}
.header_logo
{
    padding: 0px;
}
.header_logo>img
{
    width: 100%;
}
.header_status_menutop
{
	font-size: 0px;
  padding-right: 0px;
	height: 28px;
	-webkit-border-radius: 4px/5px;
	-moz-border-radius: 4px/5px;
	border-radius:0px;
	background-color: #595959;
	-webkit-box-shadow: 0 0 5px rgba(27,0,0,.5), 0 0 6px rgba(0,0,0,.11);
	-moz-box-shadow: 0 0 5px rgba(27,0,0,.5), 0 0 6px rgba(0,0,0,.11);
	box-shadow: 0 0 5px rgba(27,0,0,.5), 0 0 6px rgba(0,0,0,.11);
	background-image: -webkit-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: -moz-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: -o-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: -ms-linear-gradient(bottom, #37353a 1%, #59575a);
	background-image: linear-gradient(to top, #37353a 1%, #59575a);
	margin:0px;
	
}
.header_status_menutop>li
{
	
	border-right-style: solid;	
	border-right-width: 1px;
	border-right-color:#59585a;
	border-left-style: solid;
	border-left-width:1px;
	border-left-color: #3b393e;
	width: 33.33%;
	padding-top: 4px;
	text-align: center;
	display: inline-block;
}
.header_status_menutop>li>a
{
	display: inline;
	width: 100%;
	padding: 0px;
	font-family: "Myriad Pro";
	font-size: 10px;
	color: #fff;
}
.header_status_menutop>li>a:hover
{
	color: red;
	background: none;
}
.header_status_menusearch
{
	padding: 0px;
	padding-top: 3px;
	margin: 0px;
	height: 29px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #94d201;
	border: solid 1px #5bb900;
	background-image: -webkit-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: -moz-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: -o-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: -ms-linear-gradient(bottom, #5cba01 1%, #99d803);
	background-image: linear-gradient(to top, #5cba01 1%, #99d803);
}
.header_status_menusearch>a
{
	float: right;
}
.header_status_menusearch>input
{
        width: 81.98%;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
}
.header_status_menucontact
{
	width: 100%;
	height: 31px;
  border-style: solid;
	border-color: #5ab900;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.29);
	background-image: url(../image/giohang.jpg);
	background-position: 10px;
	background-repeat: no-repeat;	
	padding-left: 50px;
}
.header_status_menucontact>span
{
	font-family: Eurostile;
	font-size: 8px;
	text-transform: uppercase;
	color: #5a5a5a;
	text-shadow: 1px 1px 1px #fff;
}
.carousel-control
{
    position: static;
}
.carousel-indicators
{
    position: static;
    text-align: center;
    margin: 0px;
    padding: 0px;
    left:auto;
    width:33.33%;
}
.carousel_bootom_next
{  
  text-align: right;
}
.clearfix
{
    clear: both;
    float: none;
}
